:root {
  /*Colors*/
  --background-color: #0d1117;
  --header-footer-color: #639cdd;
  --page-nav-color: #4375af;
  --content-nav-color: #4375af;
  --text-color: white;
  --hover-color: #518ed3;
  --hover-text-color: black;
  --button-color: #4375af;
  --text-block-color: #242a38;
  --dropdown-color: white;

  --text-size-title: 32px;
  --text-size-header: 24px;
  --text-size-button: 20px;
  --text-size-general: 16px;
}

.body {
  margin: 0px;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #0d1117;
}

.content {
  min-height: calc(100vh - 70px);
}

.titleBlock {
  text-align: center;
  background-color: var(--header-footer-color);
  color: var(--text-color);
  font-size: var(--text-size-title);
  padding: 10px;
  width: 100%;
}

.titleBlock a{
  padding: 15px;
}

/* Style the top navigation bar */
.pageNav {
  overflow: hidden; 
  background-color: var(--page-nav-color);
  margin: 0px;
}

.pageNav ul{
  margin: 0;
  padding: 0;
}

.pageNav li{
  text-align: center;
  list-style: none;
  float: left;
  width: 25%;
  cursor: pointer;
}

.pageNav a{
  float: center; /* Make sure that the links stay side-by-side */
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: var(--text-color); /* White text color */
  text-align: center; /* Center the text */
  font-size: var(--text-size-general);
  padding: 20px;
  text-decoration: none; /* Remove underline */
}

.pageNav a:hover{
  background-color: var(--hover-color);
  color: var(--hover-text-color);
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  width: 25%;
  z-index: 10;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

  background-image: linear-gradient(to right, transparent, transparent 50%, var(--dropdown-color) 50%, var(--dropdown-color));
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: all .25s ease-in;
}

.dropdown-content a:hover {
  background-color: var(--hover-color);
  color: var(--hover-text-color);
  background-position: 0 0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.videoBlock{
  background-color: var(--background-color);
  text-align: center;
  margin: 10px;
}

.contentNav {
  overflow: hidden; 
  background-color: var(--content-nav-color); /* Dark background color */
  position:static;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 853px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 853px;
  margin: auto;
}

.contentNav ul{
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

.contentNav li{
  text-align: center;
  list-style: none;
  float: left;
  width: 33.33%;
  cursor: pointer;
  top: 50%;
}

.contentNav a{
  float: center; /* Make sure that the links stay side-by-side */
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: var(--text-color); /* White text color */
  text-align: center; /* Center the text */
  font-size: var(--text-size-general);
  padding: 20px;
  text-decoration: none; /* Remove underline */

  background-image: linear-gradient(to bottom, transparent, transparent 50%, var(--content-nav-color) 50%, var(--content-nav-color));
  background-position: 0 100%;
  background-size: 100% 200%;
  transition: all .25s ease-in;
}

.contentNav a:hover{
  background-color: var(--hover-color);
  color: var(--hover-text-color);
  background-position: 0 0;
}

* {box-sizing:border-box}

.contentBlock {
  background-color: var(--text-block-color);
  color: var(--text-color);
  padding: 10px;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: center;
  width: 853px;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

.contentBlock Header {
  font-size: var(--text-size-header);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.contentBlock  {
  font-size: var(--text-size-general);
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
  padding: 20px;
  line-height: 24px;
}

.tabcontent {
  display: "none";
}

.githubBox {
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 15px;
  text-align: center;
}

.githubBox:hover {
  opacity: 0.7;
  transition: 1s ease;
}

.githubBox a{
  font-size: var(--text-size-button);
  padding: 10px;
  border-radius: 15px;
  background-color: var(--button-color);
  color: var(--text-color);
  text-decoration: none;
}

.footer {
  text-align: center;
  background-color: var(--header-footer-color);
  color: var(--text-color);
  width: 100%;
  bottom: 0;
}

.fa {
  padding: 20px;
  font-size: 25px;
  width: 75px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 75%;
}

.fa-twitter {
  background: var(--page-nav-color);
  color: var(--text-color);
}

.fa-linkedin {
  background: var(--page-nav-color);
  color: var(--text-color);
}

.fa-youtube {
  background: var(--page-nav-color);
  color: var(--text-color);
}

.fa-instagram {
  background: var(--page-nav-color);
  color: var(--text-color);
}

.fa:hover {
  opacity: 0.7;
}

.tetrisGame{
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 640px;
  z-index: 20;
}

@media screen and (max-width: 640px){
  .tetrisGame{
    display: none;
  }
}

.pdf {
  margin: auto;
}

.picture {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1024px){
  .tetrisGame{
    display: none;
  }

  .contentNav {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .contentBlock {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .contentBlock Header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .contentBlock General {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}